.alert-container{
  z-index: -1;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.alert{
  width: 300px;
  text-align: center;
  background-color: lightgray;
  padding: 5px;
}

.alert-type-0{
  background-color: green;
}
.alert-type-1{
  background-color: #5eb2ff;
}
.alert-type-2{
  background-color: #fdba2c;
}
.alert-type-3{
  background-color: #da4733;
}