@page "/counter"

@* The authorize attribute in Blazor WASM pages is executed on client-side only, thus it can be bypassed *@
@attribute [Authorize(Roles = "Admin")]

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
