<div class="row">
    <div class="col s12">

        <div class="col s4" style="text-align:justify">
            <h5>Hey there trying to add your new product, better read this instructions to get more responses </h5>
        </div>
        <div class="loader" [hidden]="!isloading" style="text-align:center; padding-top:100px" >
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s7" [hidden]="isloading">
            <h4>Post your Product Or Service</h4>
           
            <div class="dropzone" id="myId"></div><br/>
            <form Materialize (ngSubmit)="editHero()" [ngFormModel]="form" #f="ngForm" >
                
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate"  
                                   [(ngModel)]="model.ProductName" [attr.pid]="model.Id"
                                   ngControl="ProductName" name="ProductName" id="pname"
                                   required="" aria-required="true">
                            <label for="ProductName" data-error="wrong" data-success="">Product Name</label>
                          </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea class="materialize-textarea validate" required="" aria-required="true" 
                                      [(ngModel)]="model.ProductDescription" name="ProductDescription"
                                      ngControl="ProductDescription" ></textarea>
                            <label for="ProductDescription" data-error="wrong" data-success="">Product Description</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <select materialize="material_select" 
                                [(ngModel)]="model.cat"  class="validate"
                                ngControl="cat" >
                            <option value="" selected disabled>Choose a Category</option>
                            <option *ngFor="let p of heroes" [value]="p.id">{{p.CategoryTitle}}</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate"
                                   [(ngModel)]="model.location"
                                   ngControl="location" id="google_places_ac2"
                                   [attr.state]="street.state"
                                   [attr.country]="street.country"
                                   [attr.city]="street.city"
                                   [value]="street.city" required name="location" />
                            <label for="location" data-success="">Location </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">

                            <input name="group1" type="radio" value="1" class="validate" id="test1" />
                            <label for="test1">Swap</label>
                            <input name="group1" type="radio" value="2" class="validate" id="test2" />
                            <label for="test2">Sell</label>
                             <input name="group1" type="radio" value="3" class="validate" id="test3" />
                            <label for="test2">Donate</label>

                        </div>
                    </div>
                    <div *ngIf="SellAvailable" class="form-group">
                        <div class="row">
                            <div class="input-field col s12">
                                <p>
                                    Price
                                </p>
                                <p class="range-field">
                                    <input type="number" style="border:none" min="0" max="100000"
                                           [(ngModel)]="model.price"
                                           ngControl="price" />
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">


                        <div class="row">
                            <div class="input-field col s12">
                                <textarea class="materialize-textarea validate" required
                                          [(ngModel)]="model.returnDeal" 
                                          ngControl="returnDeal" name="returnDeal"></textarea>
                                <label for="icon_prefix2" data-error="wrong" data-success="">What you expect in return</label>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <select materialize="material_select"  multiple id="New">
                            <option value="" selected disabled>Choose a Category</option>
                            <option *ngFor="let p of heroes" [value]="p.id">{{p.CategoryTitle}}</option>
                        </select>
                        <label>select Category </label>
                    </div>

                    <button type="submit"  class="waves-effect btn waves-light">Submit</button>
                   
               
            </form>
            <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
        </div>



      
    </div>
</div>