@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>Welcome to the simple fetch demo. The relevant code is in these files.</p>
<ul>
    <li>Startup.cs</li>
    <li>AuthorizationController.cs</li>
    <li>ResourceController.cs</li>
    <li><a href="./app.js" target="_blank">app.js</a></li>
</ul>

<p>On page load, the demo requests an access token for the signed in user.</p>
<p><pre id='signin_response'></pre></p>

<p>If the request succeeds, the demo uses the access token to fetch protected resources.</p>
<p><pre id='fetch_response'></pre></p>

<p>The silent request happens in an iframe, which can send messages to the parent.</p>
<p><pre id='iframe_message'></pre></p>

<p>If the request does not succeed, you probably need to log in or register.</p>
<partial name="_LoginPartial" />

<script type="text/javascript" src="/node_modules/oidc-client/dist/oidc-client.js"></script>
<script type="text/javascript" src="/app.js"></script>
