<div>
    <div class="form-label">First Name: </div>
    <div class="form-value">{{profile.firstName | async | defaultValue: "first name specified"}}</div>

    <div class="form-label">Last Name: </div>
    <div class="form-value">{{profile.lastName | async | defaultValue: "last name specified"}}</div>
</div>

<hr>

<div>
    <form [formGroup]="resetPasswordForm" (submit)="submitChangePassword()">
        <div>
            <label>Old Password</label>
            <input type="text" formControlName="oldPassword" />
            <app-control-messages [control]="resetPasswordForm.controls.oldPassword"></app-control-messages>
        </div>

        <div [formGroup]="resetPasswordForm.controls.passwords">
            <div>
                <label>password</label>
                <input type="text" formControlName="password" />
                <app-control-messages [control]="resetPasswordForm.controls.passwords.controls.password"></app-control-messages>
            </div>

            <div>
                <label>confirmPassword</label>
                <input type="text" formControlName="confirmPassword" />
                <app-control-messages [control]="resetPasswordForm.controls.passwords.controls.confirmPassword"></app-control-messages>
            </div>
            <div *ngIf="resetPasswordForm.controls.passwords.errors?.invalidCompare && resetPasswordForm.controls.passwords.touched">
                Passwords must match
            </div>
        </div>

        <button [disabled]="!resetPasswordForm.valid" type="submit">Submit</button>
    </form>
</div>