<md-toolbar [color]="primary" >
    <span class="header-navigation">
        <a [routerLink]="['/']" >
            Pass Past - |some sick slogan|
        </a>

        <span class="right">
            <span *ngIf="(loggedIn$ | async)" >
                Welcome {{username$ | async}}
                <a [routerLink]="['/']" (click)="account.logout()">Logout</a>
            </span>
            <span *ngIf="!(loggedIn$ | async)"> 
                <a  class="header-navigation__link" [routerLink]="['/auth/login']">
                    Login
                </a>
            </span>
        </span>
    </span>
</md-toolbar>
<app-loading-bar></app-loading-bar>

<div >
    <div class="left">
        <a  class="header-navigation__link" [routerLink]="['/']" routerLinkActive="active-router-link">Home</a>
        <a  class="header-navigation__link" [routerLink]="['/auth', 'login']" routerLinkActive="active-router-link">Login</a>
        <a  class="header-navigation__link" [routerLink]="['/auth', 'register']" routerLinkActive="active-router-link">Register</a>
        <a  class="header-navigation__link" [routerLink]="['/account']" routerLinkActive="active-router-link">Account</a>        
        <a  class="header-navigation__link" [routerLink]="['/admin']" routerLinkActive="active-router-link">Admin</a>          
    </div>    
</div>

