.header-navigation{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-navigation__link--hover{
  background-color: dimgrey;
}

.active-router-link{
  background-color: orange;
}