<div class="header-navigation">
    <div class="left">
        <a mo class="header-navigation__link" routerLink="/" routerLinkActive="active-router-link">Home</a>
        <a mo class="header-navigation__link" routerLink="/auth/login" routerLinkActive="active-router-link">Login</a>
        <a mo class="header-navigation__link" routerLink="/auth/register" routerLinkActive="active-router-link">Register</a>
        <a mo class="header-navigation__link" routerLink="/auth/verify" routerLinkActive="active-router-link">Verify</a>
        <a mo class="header-navigation__link" routerLink="/admin/roles" routerLinkActive="active-router-link">Roles</a>
        <a mo class="header-navigation__link" routerLink="/admin/users" routerLinkActive="active-router-link">Users</a>
        <a mo class="header-navigation__link" routerLink="/account" routerLinkActive="active-router-link">Account</a>
    </div>

    <div class="right">

        <div *ngIf="loggedIn | async" >
            Welcome {{username | async}}
            <a routerLink="/" (click)="account.logout()">Logout</a>
        </div>
    </div>
</div>